/* #main_container{
    grid-column: 2;
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    height: 102%;
} */
.scroll_container{
    overflow: scroll;
    height: 70%;
}
#portfolio_container{
    
    background-color: #CCCCCC;
    height: 40%;
    width: 50%;
    border-radius: 30px;
    /* display: flex; */
    /* overflow: scroll; */
    margin: 10px auto ;

    justify-content: center;
    vertical-align: middle;
}
#totals_container{
    
    background-color: #9DB4D2;
    height: 20%;
    width: 30%;
    border-radius: 30px;
    /* display: flex; */
    /* overflow: scroll; */
    margin: 10px auto ;

    justify-content: center;
    vertical-align: middle;
}

#graph{
    margin: auto;
    width: 80%;
    height: 300px;
    justify-content: center;
    /* text-align: center; */
}
.center{
    color: #F6F7F8;
    text-align: center;
    font-weight: bold;

}

.content-footer{
    margin-top: 10vh;
    margin-left:33vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

#stock-container{
    margin: auto;
    margin-top: 1%;
    width: 80%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #707070;
}
.stock-text{
    color: #F6F7F8;
    text-align: center;
}