#alpacaButton{
    margin-top: 40vh;
    margin-left:40vw;
    background-color: gray;
    border-radius: 10px;
}

#alpacaButton:hover{
    cursor: pointer;
    opacity: 50%;
}

.content-footer{
    margin-top: 10vh;
    margin-left:33vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.select_bot {
    position: relative;
}

.dropdown{
    width: 70vw;
    margin: auto 10%;
    margin-top: 100px;
    padding: 10px;
    border-radius: 10px;
}

.dropdown:hover{
    cursor: pointer;
}

.menu {
    position: absolute;

    list-style-type: none;
    margin: auto 15%;
    padding: 0;

    border: 1px groove grey;
    width: 60vw;
}

.menu > li {
    margin: 0;

    background-color: white;
}

.menu > li:hover {
    background-color: lightgray;
}

.menu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;

    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

/* Stock input */
.new_stock_input{
    width: 70vw;
    height: 30px;
    margin: auto 5%;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border: 1px solid grey;
}

.new_stock_btn{
    margin: 0%;
    width: 9.5vw;
    height: 34px;
    border: 1px solid grey;
    border-top-right-radius: 10px;
}

.new_stock_btn:hover{
    cursor: pointer;
    background-color: lightgrey;
}

/* Stock List */
.stock_list_container{
    width: 80vw;
    margin: auto 5%;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid grey;
}

.stock_item{
    padding: 5px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 50px;
    /* width: 100%; */
}

.stock_item:hover{
    background-color: lightgray;
}

.delete-btn{
    display: none;
    background-color: #EA6165;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 40px;
}

.delete-btn:hover{
    cursor: pointer;
}